<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="ridgeback_camera" params="prefix topic location">

		<joint name="${prefix}_camera_joint" type="fixed">
			<origin xyz="${location * 0.4} 0.0 ${location * 0.33}" rpy="0 0 ${PI/2 - (location * PI/2)}" />
			<parent link="chassis_link" />
			<child link="${prefix}_camera" />
		</joint>

		<link name="${prefix}_camera">
			<inertial>
				<mass value="0.1" />
				<inertia ixx="0.0" ixy="0.0" ixz="0.0"
								 iyy="0.0" iyz="0.0"
								 izz="0.0" />
			</inertial>
			<collision name="collision">
				<geometry>
					<box size="0.1 0.1 0.1"/>
				</geometry>
			</collision>
			<visual name="visual">
				<geometry>
					<box size="0.1 0.1 0.1"/>
				</geometry>
			</visual>
		</link>

		<gazebo reference="${prefix}_camera">
			<sensor name="rb_camera" type="camera">
				<camera>
					<horizontal_fov>1.047</horizontal_fov>
					<image>
						<width>320</width>
						<height>240</height>
					</image>
					<clip>
						<near>0.1</near>
						<far>100</far>
					</clip>
				</camera>

				<plugin name="${prefix}_camera_controller" filename="libgazebo_ros_camera.so">
					<alwaysOn>true</alwaysOn>
					<visualize>true</visualize>
					<cameraName>hdbot_cam</cameraName>
					<imageTopicName>image_raw</imageTopicName>
					<cameraInfoTopicName>visual</cameraInfoTopicName>
					<frameName>camera_link</frameName>
					<hackBaseline>0.07</hackBaseline>
					<distortionK1>0.0</distortionK1>
					<distortionK2>0.0</distortionK2>
					<distortionK3>0.0</distortionK3>
					<distortionT1>0.0</distortionT1>
					<distortionT2>0.0</distortionT2>
				</plugin>
			</sensor>
		</gazebo>


	</xacro:macro>

</robot>