<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

	<xacro:macro name="rb_imu_sensor" params="prefix topic location">

			<joint name="${prefix}_imu_joint" type="fixed">
				<origin xyz="${location * 0.0} 0.0 ${location * 0.33}" rpy="0 0 ${PI/2 - (location * PI/2)}" />
				<parent link="chassis_link" />
				<child link="imu_sensor_link" />
			</joint>

		<link name="imu_sensor_link">
			<inertial>
				<mass value="0.1" />
				<inertia ixx="0.0" ixy="0.0" ixz="0.0"
								 iyy="0.0" iyz="0.0"
								 izz="0.0" />
			</inertial>
			<collision name="collision">
				<geometry>
					<cylinder radius="0.025" length="0.05" />
				</geometry>
			</collision>
			<visual name="${prefix}_imu_visual">
				<geometry>
					<cylinder radius="0.025" length="0.05" />
				</geometry>
			</visual>
		</link>

		<gazebo reference="imu_sensor_link">
			<sensor name='imu_sensor' type='imu'>
				<always_on>1</always_on>
				<update_rate>10</update_rate>
				<visualize>1</visualize>
				<topic>hdbot/imu_data</topic>
				<plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
					<topicName>hdbot/imu_data</topicName>
					<frameName>imu_sensor_link</frameName>
					<bodyName>imu_sensor_link</bodyName>
					<updateRateHZ>10.0</updateRateHZ>
					<gaussianNoise>0.0</gaussianNoise>
					<xyzOffset>0 0 0</xyzOffset>
					<rpyOffset>0 0 0</rpyOffset>
				</plugin>
				<pose>0 0 0 0 0 0</pose>
			</sensor>
		</gazebo>
	
	</xacro:macro>

</robot>
